assemblyai==0.58.0
faster-whisper==1.2.1
kittentts @ https://github.com/KittenML/KittenTTS/releases/download/0.8.1/kittentts-0.8.1-py3-none-any.whl
moviepy==1.0.3
ollama==0.6.1
Pillow==9.5.0
prettytable==3.17.0
requests==2.32.5
schedule==1.2.2
selenium==4.41.0
soundfile==0.13.1
srt_equalizer==0.1.12
termcolor==3.3.0
webdriver-manager==4.0.2
yagmail==0.15.293
